* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: blue;
    max-width: 1200px;
}

.general-container {
    background-color: blue;
  }
  .container {
    background-color: white;
    max-width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }
  
  p {
    color: rgb(26, 120, 182);
  }
  .element-img-join,
  .element-text-2 {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .support {
    color: red;
    text-decoration: underline;
  }
  .element-logo {
    width: 70%;
    display: flex;
    justify-content: space-around;
  }
  .footer {
    color: black;
    font-weight: bolder;
  }
  .highlight {
    font-weight: bolder;
    color: rgb(22, 86, 129);
  }